#projects h1 {
    font-size: 3.6rem;
    font-weight: 700;
    color: #317cc6;
}

#projects h3 {
    font-weight: 500;
    color: #0a0611;
}

#projects p {
    font-size: 22px;
    color: #828282;
    padding: 0px 10px;
}

#projects .img-fluid
{
border-radius: 50%;

}

#pills-tab a {
    padding: 5px 15px;
    font-weight: 500;
    font-size: 22px;
}

#projects img {
    margin-bottom: 10px;
}

#home{
    width: 100%;
    min-height: 600px;
    background-image: url(./assets/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.sora{
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}
@media screen and (min-width: 1024px){
    .sora{
        height: 500px;
    }
}
#home .background {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(45, 50, 72, 0.5);
}

#home .background .pen {
    margin-top: 150px;
}

#home .background .pen .typing {
    font-size: 56px;
    font-weight: 700;
    color: white;
    text-shadow: 0px 5px 10px #035ebeb2;
}

#home .background .pen .typing {
    font-size: 56px;
    font-weight: 700;
    color: white;
    text-shadow: 0px 5px 10px #317cc6;
}

@media only screen and (max-width: 600px) {
    #home .background .pen .typing {
        font-size: 40px;
        font-weight: 700;
    }
}

@media screen and (max-width: 600px) {
    #home .background .pen .typing {
        font-size: 40px;
        font-weight: 500;
    }
}

.slider h1
{
    font-size: 3.6rem;
    font-weight: 700;
    color: #317cc6;
}
.slider #sl
{
    margin-top: 50px;
background-color: #317cc6;
border-radius: 50%;
width: 40px;
height: 40px;

}

/*
#home .background .button1
{
	margin-top: 15px;
}

#home .background .button1 a
{
	font-size: 24px;
	font-weight: 600; 
	color: white;
text-align: center;
}

.nav-tabs
{
    border-bottom: none;
}
.nav-tabs .nav-link
{
    border: solid 1px rgba(0,0,0,.1);
    padding: 5px 15px;
    font-weight: 500;
    font-size: 22px;
    color: #828282;
    border-radius: 50px;
    margin: 0px 10px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
{
    background-color: #096ad1;
    color: #fff;
}
*/